[submodule "MeshSimplify/Scripts/MeshSimplify/Scripts/DataStructureUtility"]
	path = MeshSimplify/Scripts/MeshSimplify/Scripts/DataStructureUtility
	url = https://github.com/ecidevilin/DataStructureUtility
